html { 
		background-color:#F0F8F8;}
	
#output {
			 Width: 500px;
		     height: 50px;
		     background-color: white;
		     border-radius: 10px;
		     font-family: Helvetica, sans serif;
		     color:#6C7B8B;
		     padding: 10px;
		     margin: 20px;
		     
		     }

#temperature { 
				width: 80px;
				height: 75px;
				background-color:white;
				padding:10px;
				float:right;
				margin:10px;
				border-radius: 10px;
				position: fixed;
				right: 10px;
				top: 50px;
				
			 }
				
.wrapper{
			width:600px;
			height:800px;
			float:left;
			background-color:#B0C4DE;
			border-radius:5px;
			margin: 20px;}
.sidebar{}				
